.box{
    display: flex;
    flex-direction: column;
    background-color: rgba(117, 246, 255, 0.616);
}

.header{
    text-align: center;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    margin: 3%;
    text-decoration: double;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    display: flex;
    align-self: center;
    margin: 3%;
    width: 70%;
}

.category{
    display: flex;
    align-self: center;
    margin: 2%;
    width: 70%;
}

.rating{
    align-self: center;
    justify-content: center;
    margin: 2%;
}

.switch{
    align-self: center;
    justify-content: center;
    margin: 2%;
}

.textbox{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 2%;
    width: 80%;
}

.submit{
    align-self: center;
    margin: 2%;
    width: 100px;
}