.box{
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 100vw;
    border-radius: 8%;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
    z-index: 6;
    align-items: center;
    justify-content: center;
}

.header{
    text-align: center;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    margin: 3%;
    text-decoration: double;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    display: flex;
    align-self: center;
    margin: 3%;
    width: 70%;
}

.category{
    display: flex;
    align-self: center;
    margin: 2%;
    width: 70%;
}

.rating{
    align-self: center;
    justify-content: center;
    margin: 2%;
}

.switch{
    align-self: center;
    justify-content: center;
    margin: 2%;
}

.textbox{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 2%;
}

.submit{
    align-self: center;
    justify-content: center;
    margin: 2%;
}
