.overlayBox{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}

.overlayCancelIcon{
    display: flex;
    padding-top: 10%;
    padding-left: 70%;
}

#aromap{
    
    color: rgb(14, 236, 240);
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: -15px;
    padding-left: 5%;
    text-shadow: 0.3rem 0.3rem 0.3rem darkgrey;
    font-style: italic;
}


.location_container {
    position: relative;
}

.circle {
    width: 25px;
    height: 25px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
}

.ring {
    border: 3px solid blue;
    -webkit-border-radius: 40px;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 12.5px;
    top: 12.5px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}