.box {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
  padding-bottom: 5%;
}