.container {
    text-align: left;
}
.avatar {
    display: flex;
    justify-content: left;
    vertical-align:middle;
    display: inline-block

}
.follow {
    position: absolute;
    left: 0%;
    transform: translateX(-0%);
    width: 100px;
    height: 25px;
    text-align: center;
    text-transform: capitalize;
}
.posts{
   
}

.details{
    text-align: inline-block;

}